body {    
    background-color:rgb(32, 54, 54);
    font-family: 'Courier New', Courier, monospace;
    color:darkgray
}
.my_photo{
    background: url(../image/My_photo.jpg) no-repeat center center;
    background-size: 100%;
    width: 280px;
    height: 280px;
}
.nav_logo{
    background: url(../image/logo.png) no-repeat center center;
    background-size: 100%;
    width: 50px;
    height: 50px;
    margin-top: 5px;
}
.nav_bar {
    font-size: 30px;
    font-weight: bold;
    background-color:rgb(20, 73, 73);
    border-radius: 15px;
}
.container {
    margin-top: 30px;
}
.row {
}
.col-8 {
}
.col-4 {
}
.col-3.nav_logo {
}
.col-9 {
}
.nav_text {
    display: flex;
    align-items: center;
    justify-content: right;
}
.img_size {
}
.title_photo {
    text-align: center;
}
.button_js{
    text-align: center;
}
#myButton{
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    background-color: darkslategray;
    color: azure;
    font-weight: bold;
}
 #demoBotton img{
    margin-top: 20px;
    width: 25%;
 }
#demoButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; 
    margin-top: 40px;
}
.form__reg {
    margin-bottom: 20px;
}

.form {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

.btn_reg {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #4d8572;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn_reg:hover {
    background-color:  #4d8572;
}
.container .col-12 .hello {
    text-align: center;
    margin-bottom: 20px;
    color: #fff; 
}

.container .col-12 form {
    margin-top: 20px;
}

.container .col-12 input[type="text"],
.container .col-12 textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

.container .col-12 button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: rgb(92, 79, 121);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.container .col-12 button:hover {
    background-color: rgb(92, 79, 121);
}

.container .col-12 {
    text-align: center; /* Выравниваем содержимое по центру */
    margin-bottom: 20px; /* Добавляем отступ снизу */
}

.container .col-12 form input[type="file"] {
    display: inline-block; /* Делаем элемент блочным, чтобы применить text-align: center; */
    margin-bottom: 10px; /* Добавляем отступ снизу */
}
